<div class="container spacing">
    <div class="row">
        <section class="col s12 m12 l3 ">
            <div>
                <h5>Children</h5>
                <form id="createStudentForm">
                    <input type="text" id="studentFirst" placeholder="First Name">
                    <input type="text" id="studentLast" placeholder="Last Name">
                    <input type="text" id="StudentId" placeholder="POD ID">
                    <input class="btn" type="submit" value="Add">
                </form>
            </div>
            <div class="spacing">
                <h5>Availability</h5>
                <form id="parent-day-checkbox-form">
                    <p>
                        <label>
                            <input type="checkbox" id="monday" name="monday" />
                            <span>Monday</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input id="tuesday" type="checkbox" name="tuesday"/>
                            <span>Tuesday</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input id="wednesday" type="checkbox" name="wednesday" />
                            <span>Wednesday</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input id="thursday" type="checkbox" name="thursday" />
                            <span>Thursday</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input id="friday" type="checkbox" name="friday" />
                            <span>Friday</span>
                        </label>
                    </p>
                </form>
            </div>
        </section>
        <section class="col s12 m12 l9">
            <div class="row">
                {{#each parent}}
    
        <article class="col xl4">

            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">POD {{this.ParentId}} - {{this.Parent.first_name}}
                        {{this.Parent.last_name}}</span>

                    <ul> Days this pod is available
                        
                        {{#if this.Parent.monday}}
                        <li>
                            Monday
                        </li>
                        {{/if}}
                        {{#if this.Parent.tuesday}}
                        <li>
                            Tuesday
                        </li>
                        {{/if}}
                        {{#if this.Parent.wednesday}}
                        <li>
                            Wednesday
                        </li>
                        {{/if}}
                        {{#if this.Parent.thursday}}
                        <li>
                            Thursday
                        </li>
                        {{/if}}
                        {{#if this.Parent.friday}}
                        <li>
                            Friday
                        </li>
                        {{/if}}
                    </ul>
                    <ul>Students in this pod
                        {{#each this.Students}}
                        <li>{{this.first_name}} {{this.last_name}}</li>
                        {{/each}}
                    </ul>

                </div>
            </div>

        </article>

        {{/each}}
            </div>
        </section>
    </div>
</div>
