<main class="container">
    {{!-- welcome header --}}
    <header class="row">

        <article class="col xl12">

            <h3>Welcome Teacher</h3>
            <h5>Here is a list of active pods associated with your classroom</h5>

        </article>

    </header>

    {{!-- pod view --}}

    <section class="row">
        {{#each teacher}}
        <article class="col xl4">

            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Pod:{{this.ParentId}} {{this.Parent.first_name}}
                        {{this.Parent.last_name}}</span>

                    <ul> Days this pod is available

                        <li>Monday: {{this.Parent.monday}}</li>
                        <li>Tuesday: {{this.Parent.tuesday}}</li>
                        <li>Wednesday: {{this.Parent.wednesday}}</li>
                        <li>Thursday: {{this.Parent.thursday}}</li>
                        <li>Friday: {{this.Parent.friday}}</li>

                    </ul>
                    <ul>Students in this pod
                        {{#each Students}}
                        <li>{{this.first_name}} {{this.last_name}}</li>
                        {{/each}}
                    </ul>

                </div>
            </div>

        </article>
        {{/each}}
    </section>

</main>