    {{!-- welcome header --}}
    <header class="row">
        <article class="col s12">
            <h2>Welcome Teacher</h2>
            <h5>Active pods associated with your classroom</h5>
        </article>
    </header>

    {{!-- pod view --}}

    <section class="row">
        {{#each teacher}}
        <div class="col s12 m6 l6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">POD {{this.ParentId}} - {{this.Parent.first_name}}
                        {{this.Parent.last_name}}</span>
                    <h5>Availability</h5>
                    <ul> 
                        
                        {{#if this.Parent.monday}}
                        <li>
                            Monday
                        </li>
                        {{/if}}
                        {{#if this.Parent.tuesday}}
                        <li>
                            Tuesday
                        </li>
                        {{/if}}
                        {{#if this.Parent.wednesday}}
                        <li>
                            Wednesday
                        </li>
                        {{/if}}
                        {{#if this.Parent.thursday}}
                        <li>
                            Thursday
                        </li>
                        {{/if}}
                        {{#if this.Parent.friday}}
                        <li>
                            Friday
                        </li>
                        {{/if}}
                    </ul>
                    <h5>Students</h5>
                    <ul>
                        {{#each this.Students}}
                        <li>{{this.first_name}} {{this.last_name}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        {{/each}}
    </section>