<main class="container">
    {{!-- welcome header --}}
    <header class="row">

        <article class="col xl12">

            <h3>Welcome Teacher</h3>
            <h5>Here is a list of active pods associated with your classroom</h5>

        </article>

    </header>

    {{!-- pod view --}}

    <section class="row">
        {{#each teacher}}
    
        <article class="col xl4">

            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">POD {{this.ParentId}} - {{this.Parent.first_name}}
                        {{this.Parent.last_name}}</span>

                    <ul> Days this pod is available
                        
                        {{#if this.Parent.monday}}
                        <li>
                            Monday
                        </li>
                        {{/if}}
                        {{#if this.Parent.tuesday}}
                        <li>
                            Tuesday
                        </li>
                        {{/if}}
                        {{#if this.Parent.wednesday}}
                        <li>
                            Wednesday
                        </li>
                        {{/if}}
                        {{#if this.Parent.thursday}}
                        <li>
                            Thursday
                        </li>
                        {{/if}}
                        {{#if this.Parent.friday}}
                        <li>
                            Friday
                        </li>
                        {{/if}}
                    </ul>
                    <ul>Students in this pod
                        {{#each this.Students}}
                        <li>{{this.first_name}} {{this.last_name}}</li>
                        {{/each}}
                    </ul>

                </div>
                
            </div>

        </article>

        {{/each}}
    </section>

</main>
